$baseColor: #00e676;
$lightColor: #66ffa5;
$darkColor: #00b147;
$labelColor: rgb(58, 114, 72);
$textOnBase: #000000;
$secondaryColor: #E1E2E1;
$white: #fff;
$warning: #e53935;

$borderRadius: 2px;